/* 
colors
- main blue: #1b8e99
- selected main blue: #92c9ce
- main red: #660000
- main gray: #444444
*/

body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-nav {
    background-color: #1b8e99;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.first-nav .options {
    display: flex;
    justify-content: end;
    width: 100%;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}

.first-nav img {
    margin: 0 18px;
    position: absolute;
    top: 8px;
}

.first-nav .options p {
    padding: 8px;
    margin: 0 5px;
}

.banner-section {
    background-color: #660000;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.banner-section .options {
    display: flex;
    justify-content: space-between;
    width: 40%;
    color: white;
    margin: 0 44px;
}

.virtual-store-section {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
}

.virtual-store-section .header {
    display: flex;
    justify-content: space-between;
}

.virtual-store-section .header .title {
    color: #660000;
    border-bottom: 3px solid #660000;
    padding-bottom: 7px;
    width: 100%;
    text-transform: uppercase;
}

.virtual-store-section .drones-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin: 12px 0px 12px 0px;
}

.virtual-store-section .drones-container .drone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #1b8e99;
    width: 33%;
}

.virtual-store-section .drones-container .drone .title {
    color:#1b8e99;
    font-weight: 600;
    background-color: #deeff1;
    margin: 6px 6px 0px 6px;
    padding: 8px;
    text-align: center;
    font-size: large;
}

.virtual-store-section .drones-container .drone .description {
    margin: 2px 18px 0px 18px;
    color: #1b8e99;
    font-size: small;
    padding: 2px 0px;
}

.virtual-store-section .drones-container .drone .buy-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    background-color: #1b8e99;
    color: white;
    padding: 0px 12px;
}

.virtual-store-section .drones-container .drone .buy-container .price .total {
    font-size: 38px;
    margin: 26px 0px 0px 0px;
}

.virtual-store-section .drones-container .drone .buy-container .carrinho {
    background-color: white;
    align-self: center;
    padding: 8px;
    border-radius: 3px;
}